[build]
  command = "npm install && npm run build"
  publish = "dist"

[functions]
  directory = "netlify/functions"
  node_runtime = "nodejs20.x"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
